@font-face {
  font-family: muiFont;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: poppo;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

/*
  color: rgba(81, 110, 108, 0.9); Primary 
  background-color: rgba(219, 226, 214, 1);


*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppo";
  color: rgba(10, 10, 10, 1);
}
.mContainer {
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.mContainer h1 {
  font-size: 5rem;
  color: rgba(10, 10, 10, 0.8);
  text-align: center;
  padding-top: 15vh;
}
.white h5 {
  font-size: 5rem;
  color: rgba(10, 10, 10, 0.8);
  text-align: center;
  padding-top: 5vh;
}
.blue h2 {
  line-height: 10vh;
  font-size: 4vw;
  text-align: center;
  color: rgba(81, 110, 108, 0.9);
}
.blue h3 {
  padding-top: 15vh;
  font-size: 5vw;
  color: rgba(81, 110, 108, 0.9);
  text-align: center;
}
.images {
  padding-top: 5vh;
  margin-left: 43%;
  transform: translateX(-50%);
}
.images img {
  height: 40vh;
}
.float-child {
  width: 50%;
  height: 100%;
  float: left;
}
.blue {
  background-color: rgba(219, 226, 214, 1);
  width: 100%;
  height: 100%;
  margin-left: 50vw;
  height: 100vh;
}
.white {
  background-color: rgba(200, 200, 200, 0.5);
  height: 100%;
}
.inputFields {
  margin-top: 8vh;
  margin-left: 25vw;
  transform: translateX(-50%);
}
.signButtons {
  margin-left: 25vw;
  transform: translateX(-35%);
  margin-top: 5vh;
}
.adminButtons {
  margin-top: 10vh;
}
.adminButtons button {
  font-family: "muiFont";
  font-size: 18px;
  transition: all 300ms ease-in-out;
  height: 6vh;
  width: 20vw;
  border: none;
  margin-top: 2vh;
}
.signButtons button {
  width: 17vw;
  margin-top: 1vh;
  font-family: "muiFont";
  font-size: 18px;
  height: 6vh;
  transition: all 300ms ease-in-out;
  border-radius: 6px;
}
.si {
  background: rgba(81, 110, 108, 1);
  /* background: rgba(56, 116, 203, 0.8); */
  border: white 1px solid;
  color: rgba(255, 255, 255, 0.9);
}
.su {
  border: rgba(81, 110, 108, 1) 1px solid;
  background-color: rgba(240, 240, 240, 1);
  /* background-color: #d6a419; */
}
.signButtons button:hover {
  background-color: rgba(10, 10, 10, 0.8);
  color: white;
  letter-spacing: 2px;
  height: 6vh;
}
.footer {
  position: fixed;
  background-color: rosybrown;
  padding-top: 20vh;
}
.footer p {
  position: fixed;
  margin-left: 25vw;
  transform: translateX(-50%);
  color: rgba(10, 10, 10, 0.4);
}
.adminmain {
  height: 100%;
  width: 100%;
}
.adminleft h1,
h2 {
  font-size: 20px;
}
.floatchild2 {
  float: left;
  width: 20%;
  height: 100%;
}
.adminright {
  width: 80vw;
  height: 100vh;
  transform: translateX(-10px);
  height: 100vh;
  background: rgba(219, 226, 214, 1);
}
.adminleft {
  height: 100vh;
  background-color: rgba(81, 110, 108, 1);
  border-radius: 15px;
  transform: translateX(-10px);
}
.adminName {
  padding-top: 25%;
}
.adminleft h1 {
  margin-left: 53%;
  color: rgba(255, 255, 255, 0.9);
  transform: translateX(-50%);
}
.adminleft h2 {
  padding-top: 10%;
  margin-left: 50%;
  color: rgba(255, 255, 255, 0.9);
  transform: translateX(-50%);
}
.adminSelected {
  background: rgba(219, 226, 214, 1);
  color: rgba(81, 110, 108, 1);
}
.adminNotSelected {
  background-color: rgba(81, 110, 108, 0.8);
  color: rgba(255, 255, 255, 0.9);
}
.adminNotSelected:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.mainHeader {
  margin-left: 4rem;
}
.mainHeader h1 {
  font-size: 4rem;
  padding-top: 4rem;
}
.adminforms {
  margin-top: 2rem;
}
.adminField {
  font-size: 1.5rem;
  width: 60vw;
  border: rgba(81, 110, 108, 1) outset 1px;
  border-radius: 6px;
  background: rgba(219, 226, 214, 1);
  padding: 1rem;
}
.adminField2 {
  font-size: 1.5rem;
  width: 29vw;
  margin-left: 2vw;
  border: rgba(81, 110, 108, 1) outset 1px;
  border-radius: 6px;
  background: rgba(219, 226, 214, 1);
  padding: 1rem;
}
.adminField3 {
  font-size: 1.5rem;
  width: 29vw;
  border: rgba(81, 110, 108, 1) outset 1px;
  border-radius: 6px;
  background: rgba(219, 226, 214, 1);
  padding: 1rem;
}
.adminField3 button {
  background-color: coral;
}
.mainHeader input,
button {
  margin-top: 1rem;
}
.mainHeader button {
  background-color: rgba(81, 110, 108, 1);
  color: aliceblue;
  transition: all ease-in-out 300ms;
}
.mainHeader button:hover {
  background-color: rgba(81, 110, 108, 0.5);
}
.product button {
  transition: all ease-in-out 0.3s;
  min-width: 150px;
  border: rgba(81, 110, 108, 1) 1px solid;
}
.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product {
  margin-left: 25px;
  margin-top: 25px;
}
.product button:hover {
  background: rgba(219, 226, 214, 1);
}
.contentScrollable {
  max-height: 45vh;
  overflow-y: scroll;
  background-color: rgba(81, 110, 108, 0.5);
  border-radius: 1%;
  width: 60vw;
  margin-top: 3vh;
  padding: 15px;
}
@media screen and (max-width: 1000px) {
  .blue {
    display: none;
  }
  .float-child {
    width: 100vw;
  }
  .inputFields {
    margin-left: 50%;
    transform: translateX(-25%);
  }
  .signButtons {
    margin-left: 50%;
    transform: translateX(-25%);
  }
  .signButtons button {
    min-width: 25vw;
  }
  .footer {
    margin-left: 25vw;
  }
}
