* {
  font-size: 15px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
  color: rgba(81, 110, 108, 0.9); Primary 
  background-color: rgba(219, 226, 214, 1);
*/
.topbar {
  /* background: rgba(219, 226, 214, 1); */
  min-height: 8vh;
  color: black;
  text-align: center;
  font-size: 2rem;
  padding-top: 2vh;
}
button {
  border: none;
  border-radius: 8px;
  background-color: transparent;
  padding: 5px;
  color: rgba(0, 0, 0, 0.7);
  min-width: 120px;
}
.flexbox-container {
  display: flex;
  padding-bottom: 50px;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 5vh;
  /* background-color: rgba(0, 0, 0, 0.075); */
}
.flexbox-container button:hover {
  background: rgba(219, 226, 214, 1);
}
.flexbox-item {
  margin-left: 10px;
}
.dropitems button {
  display: block;
}
.dropitems {
  visibility: hidden;
  height: 0;
  z-index: 1;
  border: rgba(0, 0, 0, 0.1) solid 1px;
  position: absolute;
  border-radius: 8px;
  background: rgba(219, 226, 214, 1);

  opacity: 0;
  transition: visibility 0s, opacity 0.4s, height 0.5s ease-in-out;

  /* display: none; */
}
.dropitems button {
  padding: 5px;
  min-width: 120px;
  transition: all ease-in-out 0.2s;
}
.dropitems button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.flexbox-item:hover .dropitems {
  /* display: block; */
  height: auto;
  visibility: visible;
  opacity: 1;
}
.rec {
  border: none;
  background-color: white;
}
.rec-arrow {
  border: none;
  display: none;
  background-color: white;
}
.rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 1px lightgrey;
}
.sc-iCfMLu button {
  display: none;
}
.carousel-container {
  background-color: rgba(219, 226, 214, 1);
  transform: translateX(-1%);
  transform: scaleX(102%);
}
.carousel-container img {
  height: 400px;
  width: 100%;
}
