@font-face {
  font-family: poppos;
  src: url(../../fonts/Poppins/Poppins-SemiBold.ttf);
}
* {
  font-size: 15px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
  color: rgba(81, 110, 108, 0.9); Primary 
  background-color: rgba(219, 226, 214, 1);
*/
.topbar {
  background: rgba(219, 226, 214, 1);
  min-height: 8vh;
  color: black;
  text-align: center;
  display: flex;
  font-size: 2rem;
  justify-content: space-around;
  padding-top: 2vh;
  padding-bottom: 1vh;
  border-bottom: solid 1px rgba(81, 110, 108, 0.3);
}
.topbar button {
  padding: 0;
}
.topbar img:hover {
  opacity: 1;
}
.topbar img {
  transition: ease-in-out all 0.2s;
}
.topbar img {
  opacity: 0.7;
}
.logout {
  border: 1px rgba(81, 110, 108, 0.5) solid;
  transition: ease-in-out all 0.2s;
}
.logout:hover {
  letter-spacing: 1px;
  background-color: rgba(81, 110, 108, 0.3);
}
button {
  border: none;
  border-radius: 8px;
  background-color: transparent;
  padding: 5px;
  color: rgba(0, 0, 0, 0.7);
  min-width: 120px;
}
.flexbox-container {
  display: flex;
  padding-bottom: 50px;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 5vh;
  border-bottom: rgba(81, 110, 108, 0.3) 1px solid;
  background-color: rgba(219, 226, 214, 1);
}
.flexbox-container button:hover {
  background: rgba(219, 226, 214, 1);
}
.flexbox-item {
  margin-left: 10px;
}
.dropitems button {
  display: block;
}
.dropitems {
  visibility: hidden;
  height: 0;
  z-index: 1;
  border: rgba(0, 0, 0, 0.1) solid 1px;
  position: absolute;
  border-radius: 8px;
  background: rgba(219, 226, 214, 1);

  opacity: 0;
  transition: visibility 0s, opacity 0.4s, height 0.5s ease-in-out;

  /* display: none; */
}
.dropitems button {
  padding: 5px;
  min-width: 120px;
  transition: all ease-in-out 0.2s;
}
.dropitems button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.flexbox-item:hover .dropitems {
  /* display: block; */
  height: auto;
  visibility: visible;
  opacity: 1;
}
.rec {
  border: none;
  background-color: white;
}
.rec-arrow {
  border: none;
  display: none;
  background-color: white;
}
.rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 1px lightgrey;
}
.sc-iCfMLu button {
  display: none;
}
.carousel-container {
  background-color: rgba(219, 226, 214, 1);
  transform: translateX(-1%);
  transform: scaleX(102%);
}
.carousel-container img {
  height: 400px;
  width: 100%;
}
.productdesc {
  background: rgba(219, 226, 214, 1);
  height: 84vh;
  padding-top: 6vh;
}
.productdesc h2 {
  font-family: "poppos";
  font-size: 4rem;
  color: rgba(81, 110, 108, 1);
  margin-left: 5vw;
  padding-top: 5vh;
}
.container {
  width: 100%;
  height: 70%;
}
.floatycontainer {
  width: 100%;
  height: 70%;
  display: flex;
}
.float-child1 {
  float: left;
  height: 100%;
  width: 50%;
}
.float-child2 {
  width: 50%;
}
.productdesc h6 {
  color: rgba(81, 110, 108, 1);
  margin-left: 5vw;
  margin-right: 5vw;
}
.float-child2 button {
  width: 40%;
  font-size: 32px;
  margin-left: 5vw;
  color: rgba(81, 110, 108, 1);
  background-color: rgba(81, 110, 108, 0.2);
  border: 1px solid rgba(81, 110, 108, 0.2);
  transition: all ease-in-out 0.3s;
}
.productdesc button:hover {
  transition: all ease-in-out 0.3s;
  background-color: rgba(81, 110, 108, 0.5);
}
.bigimg {
  text-align: center;
  border-radius: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 5vh;
}
.extras {
  padding-top: 5%;
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-evenly;
}
.extras img {
  width: 70px;
  height: 70px;
  border-radius: 15%;
}
